.letter {
  margin:20px;
  width: 300%;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  background-color: #fff;
  border: 4px solid #000000;
 border-radius: 50px;
  overflow: hidden;
  border-radius: 0;
  outline: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 5px 5px 0 #000000, 10px 10px 0 #000000;
  display: grid;
  grid-template-rows: auto;
  
}
.letters{
  padding:-1000px;
  width: 25px;
  font-family: monospace;
  align-content: center;
  margin:auto;
  display: grid;
  grid-template-rows: auto;

}


.letterBox{
  display: grid;
  margin:0px 200px 100px -100px;
  
}



/* 
 .letter:nth-child(1) {
  margin: 40px 20px 30px 400px; 
}

.letter:nth-child(2) {
  margin: 100px 30px 30px 400px; 
}

.letter:nth-child(3) {
  margin: -150px 60px 80px 200px; 
}

.letter:nth-child(4) {
  margin: -100px 10px 20px 10px; 
}

.letter:nth-child(5) {
  margin: 10px; 
}  */

.newWord {
  margin:40px;
margin-left: -20px;
  width: 100%;
  max-width: 270px;
  height: 60px;
  font-size: 50px;
  font-family: "Courier New", monospace;
  color: #000;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 0;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 0 #000;
  
}

.newWord:placeholder{
  color: #888;
}

.newWord:focus{
  background-color: #000;
  color: #fff;
  border-color: #ffffff;
}

body{
  background-color:#deb5de;
  text-align: center;
}

 /* From Uiverse.io by levxyca */ 
button {
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  display:inline-block;
  margin:0px;
  
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/* 
Stolen from https://www.sliderrevolution.com/resources/css-modal/
*/
.level-winner {
  position: absolute;
  height:150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  opacity:0;
  pointer-events: none;
}

.level-loser{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  opacity:0;
  pointer-events: none;
}
.message {
  font-size:2rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
  font-family:monospace;

}

.btn, .btn-retry, .btn-proceed{
  color:inherit;
  font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 0rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  
  
}


.btn:last-child {
  margin: 10px;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.wordSec{
 
  justify-content: center;
  margin: auto;
  width: 100%; 
   max-width: 270px;
  
}

.wordSec div{
  padding:10px;

}